@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}


.main-color {
    background: #00509E;
    color: white;
    padding: 0.5em 0px 2em;
}

.content {
    max-width: 1024px;
    margin: 0px auto;
    padding: 0em 2vw;
}

.content--white {
    background-color: white;
}
.header {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 10px;
}

.header h1 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 0.4em 0;
}

.settings {
    padding: 2em 0 1em;
    display: flex;
    width: 100%;
    gap: 0.5em;
    font-size: 1.5em;
    
}

.save {
    text-align: left;
}

.settings input {
    flex-grow: 1;
    font-size: 1em;
}

.low-color {
    background: #EBEFF5;
    padding: 2em 0px 0px;
}

.row {
    display: flex;
    width: 100%;
    gap: 0.5em;
    white-space: nowrap;
}

.row input {
    width: 100%;
    box-sizing: border-box;
}

.table input {
    box-sizing: border-box;
    width: 100%;
}

.close {
    white-space: nowrap;

}

.btn-low {
    text-decoration: none;
    font-size: 0.8em;
}

.btn-low__delete {
    color: #FF0800;
}

.btn-low__new {
    color: #17C3E6;
    padding-top: 0.5em;
}

.table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 130px;
    text-align: left;
    column-gap: 0.2em;
    padding-bottom: 0.2em;
}

.graph {
    max-width: 100%;
    padding: 2em 5em;
}

.btn-hi {
    background-color: #17C3E6;
    border: none;
    padding: 0.5em 2em;
    border-radius: 0.2em;
    color: #00509E;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.footer {
    background-color: #344452;
    padding: 2em 0em;
    margin: 0 0 0 0;
    color: #B8BEC3;
    text-align: left;

}   
.mobile {
    display: none;
}

@media screen and (max-width: 900px) {
    .settings {
        flex-direction: column;
        text-align: left;
    }

    .table {
        grid-template-columns: 1fr;
        padding-bottom: 0.5em;
    }

    .mobile {
        display: block;
        padding-top: 0.5em;
    }

    .non-mobile {
        display: none;
    }

    .row {
        flex-direction: column;
        text-align: left;
    }

    .graph {
        max-width: 100%;
        padding: 2em 0em;
    }


}